:root {
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;

      --step--1: clamp(0.89rem, 0.86rem + 0.16vw, 1rem);
  --step-0: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
  --step-1: clamp(1.25rem, 1.12rem + 0.6vw, 1.5rem);
  --step-2: clamp(1.56rem, 1.3rem + 1.2vw, 2rem);

  --space-s: clamp(0.75rem, 0.7rem + 0.2vw, 0.9rem);
  --space-m: clamp(1rem, 0.9rem + 0.4vw, 1.25rem);
  --space-l: clamp(1.5rem, 1.3rem + 0.8vw, 2rem);
}

body {
    font-family: system-ui, sans-serif;
}

/*text styling*/

article {
  --measure: 68ch;
  --flow-space: 1em;
  --text-strong: oklch(0.18 0 0);
  --text: oklch(0.26 0 0);
  --text-muted: oklch(0.48 0 0);

  max-inline-size: var(--measure);
  margin-inline: auto;
  padding: var(--space-l, 2rem) var(--space-m, 1rem);
  color: var(--text);

  font-size: var(--step-0);
  padding: var(--space-l) var(--space-m);
}

article > * {
  margin-block: 0;
}

article > * + * {
  margin-block-start: var(--flow-space);
}

article :is(h1, h2, h3, h4) {
  color: var(--text-strong);
  font-weight: bold;
}

article p + :is(h2, h3) {
  margin-block-start: 2em;
}

article :is(h2, h3) + :is(h3, h4) {
  margin-block-start: .35em;
}

h1 {
  font-size: var(--step-2);
}

p {
  font-size: var(--step--1);
}